@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

table {
    border-collapse: collapse;
  }
  
th,
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right:50px;
  border: 1px solid black;
  text-align: center;
  cursor:pointer;
  font-family: 'MaruBuri-Regular';
}