@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    height: 5rem;
    font-family: 'MaruBuri-Regular';
}

.navbar-brand {
    font-size: 25px;
    margin-left: 3rem;
}

.navbar-nav {
    font-size: 20px;
}

.nav-link {
    margin-right: 1rem;
}

.connect-wallet {
    margin-right: 2rem;
}



