@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.home{
    margin-top:5rem;
    font-family: 'MaruBuri-Regular';
}

.scroll {
    height: 500px;
}

.scroll2 {
    display: flex;
    justify-content: space-around;
}

#whyng {
    height: 700px;
}

.block {
    padding-top: 10px;
    height: 30%;
    width: 80%;
    margin: auto;
}

.out-block {
    width: 50%;
    margin: 25px;
    color: white;
}

#card1, #card3 {
    text-align: left;
}

#card2 {
    text-align: right;
}

.card_title {
    margin-bottom: 20px;
}

#NGimg {
    width: 90%;
    height: 80%;
    margin-top: 50px;
    margin-left: 25px;
}

/* Tab Contents */
.benefitCard {
    width: 30%;
    height: 90%;
    margin-left: 3%;
}

/* benefit Tab */
.benefitImg {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.customerCardTitle, .brandCardTitle {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 10px;
}

.customerCardBody, .brandCardBody {
    text-align: center;
    font-size: medium;
}

.cycleBox {
    padding-left: 20%;
}

.cycleCard {
    width: 80%;
    height: 100%;
    display: flex;
    text-align: left;
}

.cycleImg {
    width: 35%;
    height: 35%;
}

.cycleText {
    color: white;
    padding-left: 10%;
    padding-top: 5%;
}

.cycleTextBody {
    padding-left: 3%;
    text-indent: 15px;
}