.home{
    margin-top:5rem;
}

.scroll {
    height: 500px;
}

.scroll2 {
    display: flex;
    justify-content: space-around;
}

#whyng {
    height: 700px;
}

.block {
    padding-top: 10px;
    height: 30%;
    width: 80%;
    margin: auto;
}

.out-block {
    width: 50%;
    margin: 25px;
    color: white;
}

#card1, #card3 {
    text-align: left;
}

#card2 {
    text-align: right;
}

.card_title {
    margin-bottom: 20px;
}

#NGimg {
    width: 90%;
    height: 80%;
    margin-top: 50px;
    margin-left: 25px;
}

/* Tab Contents */
.benefitCard {
    width: 30%;
    height: 90%;
    margin-left: 3%;
}

/* benefit Tab */
.benefitImg {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.customerCardTitle, .brandCardTitle {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 10px;
}

.customerCardBody, .brandCardBody {
    text-align: center;
    font-size: medium;
}